.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.dice {
  text-align: center;
  display: inline-block;
}

.font {
  font-family: 'Allison', fantasy;
  font-weight: normal;
  font-size: 7rem;
}

body {
  /* background-color: #D9AFD9; */
  background-color: #97D9E1;
}

h1 {
  margin: 30px;
  font-family: 'Allison', serif;
  text-shadow: 2px 0 #2BF931;
  font-size: 8rem;
  color: #3E00FF;
  font-weight: normal;
}

p {
  font-size: 2rem;
  color: #60C8A3;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

img {
  width: 80%;
}

.img1 {
  width: 205px;
  height: auto;
  margin-right: 30px;
}

.img2 {
  width: 205px;
  height: auto;
  margin-left: 30px;
}

footer {
  margin-top: 5%;
  color: #000000;
  text-align: center;
  font-family: 'Indie Flower', fantasy;
}
