.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.font {
  font-family: 'Lobster', fantasy;
  font-weight: normal;
  font-size: 7rem;
}

body {
  background-color: #D9AFD9;
  background-image: linear-gradient(180deg, #D9AFD9 0%, #97D9E1 100%);
}

h1 {
  margin: 30px;
  font-family: 'Allison', cursive;
  text-shadow: 2px 0 #2BF931;
  font-size: 8rem;
  color: #3E00FF;
  font-weight: normal;
}

p {
  font-size: 2rem;
  color: #60C8A3;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #000000;
  text-align: center;
  font-family: 'Indie Flower', fantasy;
}
